<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Show Contact</title>
</head>
<body>
	<section class="showform">
		<div class="card">
			<div class="card-body ">
				<h3 class="text-center">Your contacts</h3>
				<table class="table table-dark">
				  <thead class="table table-dark">
				    <tr>
				      <th class="text-center" scope="col">ID</th>
				      <th class="text-center" scope="col">Profile</th>
				      <th class="text-center" scope="col">Name</th>
				      <th class="text-center" scope="col">Last Name</th>
				      <th class="text-center" scope="col">Email</th>
				      <th class="text-center" scope="col">Phone No.</th>
				      <th class="text-center" scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
<!-- for each loop used to display the data form db to show-contact(VIEW) -->
				    <tr th:each="c:${contacts}">
				      <th class="text-center" scope="row" th:text="${'SMC'+c.cid}"></th>
				      <td class="text-center"><a th:href="@{'/user/'+${c.cid}+'/contact'}">
				      		<img class="showProfilePic" alt="profile photo" th:src="@{'/images/'+${c.image}}"></a></td>
				      <td class="text-center" th:text="${c.name}"></td>
				      <td class="text-center" th:text="${c.secondName}"></td>
				      <td class="text-center" th:text="${c.email}"></td>
				      <td class="text-center" th:text="${c.phone}"></td>
				      <td class="text-center">
				      	<button th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
				      	<form method="post" th:action="@{'/user/updateContact/'+${c.cid}}">
				      		<button type="submit" class="btn btn-success mt-2"><i class="fa-solid fa-pen-to-square"></i></button>
				      	</form>
				      </td>
				    </tr>
				  </tbody>
				</table>
				<div class="text-center mb-1"><span class="small text-danger">*click on profile picture for more info*.</span></div>
<!-- pagination -->
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
					   <li th:if="${currentPage!=0}" class="page-item"><a class="page-link" th:href="@{'/user/show_contact/'+${currentPage-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					   <li th:each="i:${#numbers.sequence(1,totalPages)}" th:classappend="${currentPage==i-1?'active':''}"
					   		class="page-item"><a class="page-link" th:href="@{'/user/show_contact/'+${i-1}}"><span th:text="${i}"></span></a></li>
					   <li th:if="${currentPage+1!=totalPages}" class="page-item"><a class="page-link" th:href="@{'/user/show_contact/'+${currentPage+1}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
					 </ul>
				</nav>
				</div>
			</div>
	</section>
</body>
</html>