<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h3>Contact Manager</h3>
			<p>Collect, Store and manage your contacts in a very effective way.</p>
			<button type="button" class="btn btn-lg btn-outline-danger">Get Started</button>
		</div>
	</section>
</body>
</html>